*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.4s;
}

a:hover, .services_list_left a:hover, .services_list_right a:hover{
    color: dodgerblue;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    border-bottom: solid 1px black;
    gap: 5px;
}

nav .logo{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
}

nav .logo img{ 
    width: 50px;
    height: 50px;
    object-fit: cover;
}

nav .search_box{
    flex: 4;
    display: flex;
    position: relative;
}

nav .search_box input{
    flex: 1;
    padding: 10px 50px;
    background-color: rgb(243, 243, 243);
    border: none;
    border: solid 1px black;
    border-radius: 15px;
    outline: none;
}

nav .search_box input:focus{
    border: solid 1px dodgerblue;
}

nav .search_box i{
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 20px;
}

nav .third_section{
    flex: 2;
    display: flex;
    justify-content: space-around;
}

nav .third_section .options{
    display: flex;
    align-items: center;   
    gap: 5px;
}

.services_list{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.services_list_left, .services_list_right{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services_list_left a, .services_list_right a{
    color: rgb(61, 57, 53);
    transition: color 0.5s;
    flex: 1;
    text-align: center;
}

.welcome_container{
    position: relative;
    height: 100vh;
    width: 100%;
}

.welcome_container .overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.welcome_container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome_container .overlay .welcome_description{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding: 30px;
    padding-top: 10%;
}

.welcome_container .overlay .welcome_description h1{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
}

.welcome_container .overlay .welcome_description button{
    cursor: pointer;
    padding: 10px 20px;
    max-width: fit-content;
    border: none;
    background-color: black;
    color: white;
    transition: background-color 0.5s;
}

.welcome_container .overlay .welcome_description button:hover{
    background-color: orangered;   
}

.short_desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
}

.short_desc h2{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;   
}

.short_desc p{
    color: rgb(90, 91, 89)
}

.featured_styles{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
    padding: 10px; 
}

.featured_styles_second{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 220px;
}

.featured_styles_second .big_feature{
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 20px;
}

/* .featured_styles_second .big_feature img{
    transition: all 0.4s;
} */

.featured_styles_second .big_feature:hover img:nth-child(2){
    opacity: 0;
}

.featured_styles_second .big_feature .overlay button{
    cursor: pointer;
    padding: 15px 20px;
    max-width: fit-content;
    border: none;
    background-color: black;
    color: white;
    transition: background-color 0.5s;
    pointer-events: fill;
}

.featured_styles_second .big_feature .overlay button:hover{
    background-color: orangered;   
}

.featured_styles .featured_style{
    position: relative;
    overflow: hidden;
}

.featured_styles .featured_style .overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
} 

.featured_styles_second .big_feature .overlay{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 60px;
    justify-content: flex-end;
}

.featured_styles .featured_style .overlay h1{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;   
}

.featured_styles .featured_style img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.featured_styles .featured_style img:hover, .featured_styles .featured_style2 .img_container img:hover{
    transform: scale(1.2);
}

.featured_styles .featured_style2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img_container{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 90%;
}

.featured_styles .featured_style2 .img_container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.featured_styles .featured_style2 h2{
    flex: 1;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: solid #ccc 1px;
}

footer .footer_info{
    display: flex;
    flex-direction: column;
}

footer .footer_info h2{
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;   
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

footer .footer_info a{
    padding: 10px 0;
    text-align: center;
}

footer .footer_info a i{
    font-size: 20px;
}

.welcome_container img:nth-child(2){
    animation: animate ease 10s infinite alternate;
    animation-delay: 5s;
}

@keyframes animate{
	0%{
		opacity: 1;
	}
    50%{
        opacity: 0;
    }
	100%{
		opacity: 1;
	}
}